:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
  --ff-primary: "Outfit";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.img {
  width: 100%;
  display: block;
}
body {
  background: var(--Light-gray);
  line-height: 1.5;
}
.container {
  width: 19rem;
  height: 30rem;
  background: var(--White);
  border-radius: 1rem;
  position: relative;
  margin-top: 6rem;
  left: 50%;
  transform: translate(-50%);
}
.qr {
  height: 17rem;
  /* position: absolute; */
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  margin-bottom: 1rem;
}
.call-1 {
  text-align: center;
  font-size: 1.25rem;
  color: var(--Dark-blue);
  font-family: var(--ff-primary);
  font-weight: 700;
  width: 80%;
  margin-left: 1.75rem;
  margin-bottom: 1rem;
}
.text-1 {
  text-align: center;
  font-family: var(--ff-primary);
  font-weight: 400;
  color: var(--Grayish-blue);
  width: 80%;
  margin-left: 1.75rem;
  font-size: 0.875rem;
}
